<div class="page">
  <div class="page__header">
    <div class="name-link">
      <a href="/">Kevin Le</a>
    </div>

    <div class="searchbox">
    <%# <input type="text" value=<%= input %> %>
    </div>
  </div>

  <div class="tabs">
    <div class="tab-menu">
      <div class="tab-menu__item selected" target="#page1">Accordian</div>
      <div class="tab-menu__item" target="#page2">Graph</div>
    </div>
  
    <div class="tab-content " id="page1">
      <div class="card box-shadow">
        <div class="card-background">
          <div class="search"></div>
          <div class="video-list">
            <% @videos.each do |video| %>
            
            <% end %>
          </div>
        </div>
        <%= @videos %>
      </div>
    </div>
  
    <div class="tab-content hidden" id="page2">
      <div class="card box-shadow">
        page2
      </div>
    </div>
  </div>

  <footer class="page_footer">This is the footer</footer>

</div>
