.page {

  &__header {
    background: $white;
    height: 100px;
    padding: $base-spacing;
  }

  &_footer {
    background: $dark-blue;
    color: $white;
    padding: $base-spacing;

  }

  .video {
    padding: $base-spacing;
    border-top: 1px solid $light-gray;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-title {
      width: 350px;
    }

    &-author {
      width: 200px;
    }

    &-published {
      width: fit-content;
    }
  }
}
